IF OBJECT_ID('dbo.SNS_ML_Get_Raw_Data', 'P') IS NOT NULL
    DROP PROCEDURE dbo.SNS_ML_Get_Raw_Data;
GO

/**
 * Хранимая процедура для выгрузки данных о визитах и продажах
 * Логика фильтрации:
 * 1. Берем список категорий, по которым была хотя бы одна продажа ВООБЩЕ (в любой точке).
 * 2. Для каждого визита (vDate) создаем строки для всех этих категорий.
 * 3. Накладываем факт продаж: если была — сумма, если нет — 0.
 */
CREATE PROCEDURE [dbo].[SNS_ML_Get_Raw_Data]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF @StartDate IS NULL OR @EndDate IS NULL
        BEGIN
            RAISERROR('Параметры @StartDate и @EndDate должны быть заполнены', 16, 1);
            RETURN -1;
        END

        DECLARE @GridStep FLOAT = 0.027; 
        DECLARE @CurrentDBName NVARCHAR(128) = DB_NAME();
        
        -- Поиск архивных баз данных
        IF OBJECT_ID('tempdb..#TargetDatabases') IS NOT NULL DROP TABLE #TargetDatabases;
        CREATE TABLE #TargetDatabases (DatabaseName NVARCHAR(128));
        INSERT INTO #TargetDatabases (DatabaseName) VALUES (@CurrentDBName);
        
        DECLARE @MinDateInCurrentDB DATE;
        SELECT @MinDateInCurrentDB = MIN(CAST(vDate AS DATE)) FROM DS_merPointsVisits;
        
        IF @StartDate < @MinDateInCurrentDB OR @MinDateInCurrentDB IS NULL
        BEGIN
            DECLARE @StartYear INT = YEAR(@StartDate), @EndYear INT = YEAR(@EndDate), @CurrentYear INT = YEAR(GETDATE());
            DECLARE @YearCounter INT = @StartYear;
            WHILE @YearCounter <= @EndYear AND @YearCounter < @CurrentYear
            BEGIN
                DECLARE @ArchiveDBName NVARCHAR(128) = @CurrentDBName + '_' + CAST(@YearCounter AS NVARCHAR(4));
                IF EXISTS (SELECT 1 FROM sys.databases WHERE name = @ArchiveDBName AND state = 0)
                    INSERT INTO #TargetDatabases (DatabaseName) VALUES (@ArchiveDBName);
                SET @YearCounter = @YearCounter + 1;
            END
        END

        -- Итоговая таблица
        IF OBJECT_ID('tempdb..#RawDataResult') IS NOT NULL DROP TABLE #RawDataResult;
        CREATE TABLE #RawDataResult (
            VisitDate DATE,
            PointID INT,
            CategoryID INT,
            BranchID INT,
            PointClass NVARCHAR(255),
            PointType NVARCHAR(255),
            Lat FLOAT,
            Lon FLOAT,
            MicroRegionID NVARCHAR(50),
            SumRoubles DECIMAL(18,2)
        );

        DECLARE @TargetDB NVARCHAR(128);
        DECLARE db_cursor CURSOR LOCAL FAST_FORWARD FOR SELECT DatabaseName FROM #TargetDatabases;
        OPEN db_cursor;
        FETCH NEXT FROM db_cursor INTO @TargetDB;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @TablePrefix NVARCHAR(256) = CASE WHEN @TargetDB = @CurrentDBName THEN N'' ELSE N'[' + @TargetDB + N'].dbo.' END;
            
            DECLARE @DynamicSQL NVARCHAR(MAX) = N'
            -- 1. Определяем категории, у которых была хотя бы одна продажа в любой точке этой БД
            IF OBJECT_ID(''tempdb..#SoldCategories_' + @TargetDB + N''') IS NOT NULL DROP TABLE #SoldCategories_' + @TargetDB + N';
            SELECT DISTINCT i.itID AS CategoryID
            INTO #SoldCategories_' + @TargetDB + N'
            FROM ' + @TablePrefix + N'DS_Orders_Items oi
            JOIN ' + @TablePrefix + N'DS_ITEMS i ON oi.iID = i.iid
            WHERE i.activeFlag = 1;

            -- 2. Данные о точках (координаты, типы)
            IF OBJECT_ID(''tempdb..#PointFeatures_' + @TargetDB + N''') IS NOT NULL DROP TABLE #PointFeatures_' + @TargetDB + N';
            SELECT 
                f.fid AS PointID, f.distid AS BranchID, 
                ISNULL(MAX(CASE WHEN fa.attrid = 360 THEN TRY_CAST(REPLACE(REPLACE(fa.attrtext, '','', ''.''), '' '', '''') AS FLOAT) END), 0) AS Lat,
                ISNULL(MAX(CASE WHEN fa.attrid = 361 THEN TRY_CAST(REPLACE(REPLACE(fa.attrtext, '','', ''.''), '' '', '''') AS FLOAT) END), 0) AS Lon,
                ISNULL(MAX(CASE WHEN fa.attrid = 602 THEN fa.attrtext END), ''Unknown'') AS PointClass,
                ISNULL(MAX(CASE WHEN fa.attrid = 555 THEN fa.attrtext END), ''Unknown'') AS PointType
            INTO #PointFeatures_' + @TargetDB + N' 
            FROM ' + @TablePrefix + N'ds_faces f 
            LEFT JOIN ' + @TablePrefix + N'ds_facesattributes fa ON f.fid = fa.fid AND fa.activeflag = 1 
            WHERE f.ftype = 1 AND f.factiveflag = 1 
            GROUP BY f.fid, f.distid;

            -- 3. Агрегируем продажи за период по точкам и категориям
            IF OBJECT_ID(''tempdb..#DailySales_' + @TargetDB + N''') IS NOT NULL DROP TABLE #DailySales_' + @TargetDB + N';
            SELECT 
                CAST(o.orDate AS DATE) AS SalesDate,
                o.mfID AS PointID,
                i.itID AS CategoryID,
                SUM(ISNULL(oi.SumRoubles, 0)) AS SumRoubles
            INTO #DailySales_' + @TargetDB + N'
            FROM ' + @TablePrefix + N'DS_Orders o
            JOIN ' + @TablePrefix + N'DS_Orders_Items oi ON o.orID = oi.orID AND o.MasterFID = oi.MasterFID
            JOIN ' + @TablePrefix + N'DS_ITEMS i ON oi.iID = i.iid
            WHERE o.orType = 1 AND o.orDate >= @StartParam AND o.orDate < @EndParam
            GROUP BY CAST(o.orDate AS DATE), o.mfID, i.itID;

            -- 4. Сборка матрицы: Визиты (vDate) x Все "проданные где-либо" категории
            INSERT INTO #RawDataResult (VisitDate, PointID, CategoryID, BranchID, PointClass, PointType, Lat, Lon, MicroRegionID, SumRoubles)
            SELECT 
                v.VisitDate,
                v.PointID,
                sc.CategoryID,
                pf.BranchID,
                pf.PointClass,
                pf.PointType,
                pf.Lat,
                pf.Lon,
                CAST(FLOOR(pf.Lat / ' + CAST(@GridStep AS NVARCHAR(20)) + N') * ' + CAST(@GridStep AS NVARCHAR(20)) + N' AS VARCHAR(20)) + ''_'' + 
                CAST(FLOOR(pf.Lon / ' + CAST(@GridStep AS NVARCHAR(20)) + N') * ' + CAST(@GridStep AS NVARCHAR(20)) + N' AS VARCHAR(20)) AS MicroRegionID,
                ISNULL(s.SumRoubles, 0) AS SumRoubles
            FROM (
                SELECT DISTINCT CAST(vDate AS DATE) AS VisitDate, fid AS PointID 
                FROM ' + @TablePrefix + N'DS_merPointsVisits 
                WHERE vDate >= @StartParam AND vDate < @EndParam
            ) v
            CROSS JOIN #SoldCategories_' + @TargetDB + N' sc
            INNER JOIN #PointFeatures_' + @TargetDB + N' pf ON v.PointID = pf.PointID
            LEFT JOIN #DailySales_' + @TargetDB + N' s ON v.VisitDate = s.SalesDate AND v.PointID = s.PointID AND sc.CategoryID = s.CategoryID;

            DROP TABLE #SoldCategories_' + @TargetDB + N';
            DROP TABLE #PointFeatures_' + @TargetDB + N';
            DROP TABLE #DailySales_' + @TargetDB + N';
            ';

            EXEC sp_executesql @DynamicSQL, N'@StartParam DATE, @EndParam DATE', @StartDate, @EndDate;
            FETCH NEXT FROM db_cursor INTO @TargetDB;
        END

        CLOSE db_cursor; DEALLOCATE db_cursor;

        SELECT * FROM #RawDataResult ORDER BY VisitDate, PointID, CategoryID;
        DROP TABLE #RawDataResult;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'db_cursor') >= 0 BEGIN CLOSE db_cursor; DEALLOCATE db_cursor; END
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END;
GO